appnope==0.1.3
asttokens==2.2.1
async-generator==1.10
attrs==22.2.0
Automat==22.10.0
backcall==0.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
comm==0.1.3
constantly==15.1.0
cryptography==40.0.2
cssselect==1.2.0
debugpy==1.6.6
decorator==5.1.1
exceptiongroup==1.1.1
executing==1.2.0
filelock==3.12.0
h11==0.14.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
ipykernel==6.22.0
ipython==8.12.0
itemadapter==0.8.0
itemloaders==1.1.0
jedi==0.18.2
jmespath==1.0.1
jupyter_client==8.1.0
jupyter_core==5.3.0
lxml==4.9.2
matplotlib-inline==0.1.6
nest-asyncio==1.5.6
outcome==1.2.0
packaging==23.0
parsel==1.8.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==3.2.0
prompt-toolkit==3.0.38
Protego==0.2.1
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyDispatcher==2.0.7
Pygments==2.14.0
pyOpenSSL==23.1.1
PySocks==1.7.1
python-dateutil==2.8.2
pyzmq==25.0.2
queuelib==1.6.2
requests==2.28.2
requests-file==1.5.1
Scrapy==2.8.0
selenium==4.8.3
service-identity==21.1.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
stack-data==0.6.2
tldextract==3.4.0
tornado==6.2
traitlets==5.9.0
trio==0.22.0
trio-websocket==0.10.2
Twisted==22.10.0
typing_extensions==4.5.0
urllib3==1.26.15
w3lib==2.1.1
wcwidth==0.2.6
wsproto==1.2.0
zope.interface==6.0
anyio==3.6.2
appnope==0.1.3
asttokens==2.2.1
async-generator==1.10
attrs==22.2.0
Automat==22.10.0
backcall==0.2.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
comm==0.1.3
constantly==15.1.0
cryptography==40.0.2
cssselect==1.2.0
debugpy==1.6.6
decorator==5.1.1
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing==1.2.0
filelock==3.12.0
h11==0.14.0
html5lib==1.1
httpcore==0.17.2
httpx==0.24.1
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
ipykernel==6.22.0
ipython==8.12.0
itemadapter==0.8.0
itemloaders==1.1.0
jedi==0.18.2
jmespath==1.0.1
jupyter_client==8.1.0
jupyter_core==5.3.0
lxml==4.9.2
matplotlib-inline==0.1.6
nest-asyncio==1.5.6
numpy==1.24.3
openpyxl==3.1.2
outcome==1.2.0
packaging==23.0
pandas==2.0.1
parsel==1.8.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==3.2.0
prompt-toolkit==3.0.38
Protego==0.2.1
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyDispatcher==2.0.7
Pygments==2.14.0
pyOpenSSL==23.1.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3
pyzmq==25.0.2
queuelib==1.6.2
requests==2.28.2
requests-file==1.5.1
Scrapy==2.8.0
selenium==4.8.3
service-identity==21.1.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
stack-data==0.6.2
tldextract==3.4.0
tornado==6.2
traitlets==5.9.0
trio==0.22.0
trio-websocket==0.10.2
Twisted==22.10.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
w3lib==2.1.1
wcwidth==0.2.6
webencodings==0.5.1
wsproto==1.2.0
zope.interface==6.0
